 ul.addElementGroup {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
}

ul.addElementGroup ul.itemContainer {
    list-style: none;
    margin: 0;
    padding: 10px;
}

ul.addElementGroup li {
    padding: 0;
    padding-bottom: 1em;
}

.groupTitle {
    opacity: 0.5;
    padding: 0.5em;
}

.libraryItem {
    padding: 0.5em;
}

ul.addElementGroup .itemContainer li {
    cursor: pointer;
}
