:global(.tyzo).Container {
  padding: 1rem;
  margin: 1em auto;
}

:global(.tyzo) .Title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

:global(.tyzo) .Email {
  font-weight: 500;
}

:global(.tyzo) .Permission {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


:global(.tyzo) .px2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

:global(.tyzo) .Icon {
  height: 1rem;
  width: 1rem;
}


:global(.tyzo) .spacey8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

:global(.tyzo) .spacey2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

:global(.tyzo) .mt8 {
  margin-top: 2rem;
}