/* :global(.tyzo) {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --radius: 0.5rem;
} */

:global(.tyzo) .backHeader {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 1em;
}

:global(.tyzo) .field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

:global(.tyzo) .field label {
    flex: 1;
    text-align: right;
}

:global(.tyzo) .field input {
    flex: 5;
}

:global(.tyzo) .center {
    flex: 1;
    background-color: white;
}

:global(.tyzo) .smallIcon {
    width: 20px;
    height: 20px;
}

:global(.tyzo) .tree {
    /* padding: 10px; */
    margin-bottom: 20px;
}

:global(.tyzo) .componentControls h3 {
    padding-left: 10px;
}

:global(.tyzo) .sectionTitle {
    font-size: 1.4em;
}

.editor {
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;

    --theme-secondary: #3a64d8;
    --theme-surface-1: #3a64d831;
    /* --bg-color-elevated: red;
            --primary: yellow; */
}

:global(.tyzo).header {
    position: relative;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

:global(.tyzo) .headerCenter {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.belowHeader {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

:global(.tyzo) .maxWidthSelector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

:global(.tyzo) .maxWidthSelector>button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.center {
    flex: 1;
    background: #eee;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

:global(.tyzo).leftSide {
    background-color: white;
    position: relative;
    border-right: 1px solid #ccc;
    z-index: 100;
    width: 300px;
    overflow: auto;
    /* flex: 1;
    display: flex;
    flex-direction: row; */
}

:global(.tyzo).rightSide {
    background-color: white;
    position: relative;
    border-left: 1px solid #ccc;
    z-index: 100;
    width: 250px;
    overflow: auto;
}

:global(.tyzo) .rightSide button {
    border: none;
    background-color: white;
}

.templateEditorControls {
    padding: 10px;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.templateEditorControls svg {
    height: 1.5em;
    width: 1.5em;
}