.Title {
  font-weight: bold;
  margin-bottom: 4px;
}

.Container {
  padding: 8px;

  border-bottom: 1px solid rgba(127, 127, 127, .2);
}

.Row {
  margin-top: 10px;
}

.AddBreakpoint {
  width: 100%;
}

.Breakpoint {
  margin-bottom: 2em;
}

.BreakpointTitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}

.BreakpointTitle > div {
  flex: 1;
}