:global(.tyzo) .Icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

:global(.tyzo) .IconNoMargin {
  height: 16px;
  width: 16px;
}

:global(.tyzo) .SmallIcon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

:global(.tyzo) .BigIcon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

:global(.tyzo) .Margin {
  margin: 4px;
}

:global(.tyzo) .MarginTop {
  margin-top: 4px;
}

:global(.tyzo) .PaddingVertical {
  padding-top: 4px;
  padding-bottom: 4px;
}

:global(.tyzo) .LabelRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px
}

:global(.tyzo) .Prop {
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
  padding: 8px;
  font-size: 0.8em;
}

:global(.tyzo) .PropTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}