.Icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.IconNoMargin {
  height: 16px;
  width: 16px;
}

.SmallIcon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

.BigIcon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.Margin {
  margin: 4px;
}

.MarginTop {
  margin-top: 4px;
}

.PaddingVertical {
  padding-top: 4px;
  padding-bottom: 4px;
}

.LabelRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px
}

.Prop {
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
  padding: 8px;
  font-size: 0.8em;
}

.PropTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}