---
import { Editor } from "@tyzo/core";
import "@tyzo/core/assets/style.css";

const importPath = __TYZO_COMPONENT_IMPORT__;

export const prerender = false;

declare global {
  const __TYZO_SPACE_ID__: string;
  const __TYZO_TREE_ID__: string;
  const __TYZO_COMPONENT_IMPORT__: string;
  const __TYZO_LAYOUT_IMPORT__: string;
}
const spaceId = __TYZO_SPACE_ID__;

const { default: Layout } = __TYZO_LAYOUT_IMPORT__
  ? await import(__TYZO_LAYOUT_IMPORT__)
  : { default: null };
---

{
  Layout ? (
    <Layout>
      <Editor
        client:only="react"
        spaceId={spaceId}
        componentsImportPath={importPath}
      />
    </Layout>
  ) : (
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Editor" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Editor</title>
      </head>
      <body></body>
    </html>
  )
}

<style is:global>
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
</style>
